<?xml version="1.0" ?>

<robot name="slot">
    <material name="slot">
        <color rgba="0 0.8 0.8 1"/>
    </material>
    <material name="slot_target">
        <color rgba="0 0.8 0.8 0.0"/>
    </material>
    <link name="base">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <inertia_scaling value="3.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.03 0.09 0.03"/>
            </geometry>
            <material name="slot"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.03 0.09 0.03"/>
            </geometry>
        </collision>
    </link>
    <joint name="base_left_joint" type="fixed">
        <origin rpy="0 0 0" xyz="-0.03 0.03 0"/>
        <parent link="base"/>
        <child link="left"/>
    </joint>
    <link name="left">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <inertia_scaling value="3.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.03 0.03 0.03"/>
            </geometry>
            <material name="slot"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.03 0.03 0.03"/>
            </geometry>
        </collision>
    </link>
    <joint name="base_right_joint" type="fixed">
        <origin rpy="0 0 0" xyz="-0.03 -0.03 0"/>
        <parent link="base"/>
        <child link="right"/>
    </joint>
    <link name="right">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <inertia_scaling value="3.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.03 0.03 0.03"/>
            </geometry>
            <material name="slot"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.03 0.03 0.03"/>
            </geometry>
        </collision>
    </link>
    <joint name="base_end_joint" type="fixed">
        <origin rpy="0 0 0" xyz="-0.06 0 0"/>
        <parent link="base"/>
        <child link="end"/>
    </joint>
    <link name="end">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <inertia_scaling value="3.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.03 0.09 0.03"/>
            </geometry>
            <material name="slot"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.03 0.09 0.03"/>
            </geometry>
        </collision>
    </link>
    <joint name="base_target_joint" type="fixed">
        <origin rpy="0 0 0" xyz="-0.03 0 0"/>
        <parent link="base"/>
        <child link="slot_target"/>
    </joint>
    <link name="slot_target">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.0001"/>
            </geometry>
            <material name="slot_target"/>
        </visual>
    </link>
</robot>
